@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151920;
  font-family: "Poppins", serif;
}

.nav {
  background-color: #1a2028;
  /* opacity: 30%; */
}


/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #49515c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}